#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
    font-size:12px    
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .social-buttons{
    margin:12px 0    
}

#login-dp .social-buttons a{
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}

.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}

.btn-tw{
    color: #fff;
    background-color:#55acee;
}

.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

#editor {
    border-color: lightgray;
    width: 100%;
    height: 95%;

    /*For text*/
    padding: 15px;
    font-size: 12pt;
    font-family: monospace;
    line-height: 20pt;
    overflow: auto;
    white-space: nowrap;
}

#editor:focus {
    outline: none !important;
}

#right-editor {
    float: right;
    border-color: lightgray;
    border-left-color: rgb(150, 150, 150);
    display: block;

    width: 56%;
    height: 100%;
}

#top-right-bar {
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    display: inline-block;
    overflow: hidden;

    background-color: rgb(238, 236, 236);
    width: 100%;
    padding: 7px;
}

.wrapper {
    min-height: calc(100vh - 50px);
}

footer h5, ul li a, ul li a:hover {
    color: #9d9d9d;
}

/*** FONTS ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);
/*** VARIABLES ***/
/* Colors */
/*** EXTEND ***/
/* box-shadow */
ol.gradient-list > li::before, ol.gradient-list > li {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

/*** STYLE ***/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  color: #1d1f20;
  font-family: "Raleway", sans-serif;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}
ol.gradient-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}
ol.gradient-list > li::before, ol.gradient-list > li::after {
  background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}
ol.gradient-list > li::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #1d1f20;
  display: flex;
  font: 900 1.5em/1 "Montserrat";
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}

ol.gradient-list > li + li {
  margin-top: 2rem;
}

.space {
    padding-left: 50px;
    width: 100%;
}

#first_ele {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    font-size: 15px; 
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#first_ele:hover {
  text-decoration: underline;
}

#leftCodeStuff {
  float: left;
  clear: right;
  max-width: 100%;

  margin-left: 1%;
  font-size: 15px;
}

#example-box {
  border-color: rgb(27, 27, 27);
  border-width: 2cm;

  background-color:rgb(219, 219, 219);
  text-align: left;
  background-size: 80%;
}

.txt-button {
  border: none;
  background-color: inherit;
  font-size: 14px;
  cursor: pointer;
}

.txt-button:hover {
  text-decoration: underline;
}
