{%extends "base_with_login.html" %}

{% block footer%}
<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: #222">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: #9d9d9d;">© 2022 Copyright:
    <a href="https://mdbootstrap.com/" style="color: white;">yeeppcode.com</a>
    <br><br>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{%endblock%}