{% extends "base.html" %}

{% block title %} Test for code editing {% endblock %}
{% block header %}{% endblock %}

{% block body %}
<!--Left side of the screen should contain the problem statement-->

<div id="right-editor">
    <div id="top-right-bar">
        <label for="languages">
            <select name="languages">
                <option value="python3">Python3</option>
                <option value="c++">C++</option>
                <option value="java">Java</option>
                <option value="javascript">JavaScript</option>
                <option value="c#">C#</option>
            </select>
        </label>
    </div>

    <!--Code for the code editor-->
    <form action="#" method="POST">
        <textarea id="editor" style="resize: none;" name="codeEdit" rows="30"> 
            
        </textarea>
    </form>
</div>
{% endblock %}