{% extends "base.html" %}

{% block title %} Test for code editing {% endblock %}
{% block header %}{% endblock %}

{% block body %}
<!--Left side of the screen should contain the problem statement-->

<div id="right-editor">
    <!--Code for the code editor-->
    <form>
        <div id="top-right-bar">
            <label for="languages">
                <select name="languages">
                    <option value="python3">Python</option>
                    <option value="c++">C++</option>
                    <option value="java">Java</option>
                </select>
            </label>
        </div>

        <textarea id="editor" style="resize: none;" name="codeEdit" rows="30"></textarea>
        <input id="run" type="submit" name="action" value="Run Code" style="margin-right: 20px;">
        <input id="sub" type="submit" name="action" value="Submit">
    </form>
</div>

{% endblock %}